grant {{
  permission java.io.FilePermission "{0}-", "read";
  permission java.util.PropertyPermission "*", "read";
  permission java.lang.RuntimePermission "createClassLoader";
}};

